//Footer

footer.container-fluid
	div.row
		div.cont-logo-BBB

			a(href="#", onClick="seguimientoEventos('footer','clic','Colombina')")

				+image("Img-LogoBBB.png", "Paso 1")(class="img-responsive")

		div.cont-logoH-Pe.hiden
			img.img-responsive(src="images/Img-LogoHallowBBB.png", alt="")

		div.cont-logoBBB-Pe.hiden
			img.img-responsive(src="images/Img-LogoBBB.png", alt="")

///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
script(type="text/javascript",src="js/libs/jquery.min.js")
script(src='js/libs/jquery.validate.min.js')
script(src='js/libs/bootstrap.min.js')
script(src="https://sbbb-julian10404.c9users.io/socket.io/socket.io.js")
script(type="text/javascript",src="js/functions.min.js")
script(type="text/javascript",src="js/config.min.js")
script(type="text/javascript",src="js/main.min.js")
