/*
@media only screen and (min-width: 320px)
	html, body
		overflow hidden !important
		background-size 100% 100%
		
	
	.cont-bienvenida-H-M
*/

/* Smartphones and iPads(portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width : 1023px)
	.cont-bienvenida-mobile-H
		display block
	.cont-bienvenida-H
		display none
	.conte-BBB-LogoH
		left 40%
		top 55%
		width 20%
	.cont-nombre-hallowen
		left 35%
		top calc(55% + 80px)
	.cont-titulos-HW
		width 70%
		
	.cont-sync-actividad
		display none
	
	.cont-ranking
		display none
		
	.cont-bienvenida-desktop-H
		display none
	.cont-Sync
		display block
	h2
		font-size 2.5rem !important
		
/* Desktops and laptops 1 ----------- */
@media only screen and (min-width : 1024px) and (max-width : 1500px)
	.cont-bienvenida-H
		display block
	.cont-bienvenida-mobile-H
		display none
	.cont-bienvenida-desktop-H
		display block
	.cont-Sync
		display none